* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url('../images/backgrounp.jpg');
}
#head {
  width: 100%;
  overflow: hidden;
  background-color: #3D4450;
}
#head_content {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  float:left;
}
#head_logo {
  width: 40%;
  overflow: hidden;
  float:left;
}


@media all and (min-width: 980px) {
  #head_content img {
    float: left;
  }
}
@media all and (max-width: 980px) and (min-width: 720px) {
  #head_content img {
    display: block;
    margin: 0 auto;
  }
}
@media all and (max-width: 720px) {
  #head_content img {
    float: left;
  }
}
#nav {
  position: relative;
  width: 650px;
}
@media all and (min-width: 980px) {
  #nav {
    height: 54px;
    float: left;
  }
}
@media all and (max-width: 980px) and (min-width: 720px) {
  #nav {
    height: 44px;
    display: block;
    margin: 0 auto;
  }
}
@media all and (max-width: 720px) {
  #nav {
  }
}
#nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  color: white;
  line-height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 980px) {
  #nav ul li {
    padding: 15px 16px;
  }
}
@media all and (max-width: 980px) and (min-width: 720px) {
  #nav ul li {
    font-size: 14px;
    padding: 10px 15px;
  }
}



#botton {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;
  margin-top: 7px;
  font-weight: 700;
}
@media all and (min-width: 720px) {
  #botton {
    display: none;
  }
}
@media all and (max-width: 720px) {
  #botton {
    display: block;
    float: right;
  }
}
#content {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#left {
  overflow: hidden;
  float: left;
}
@media all and (min-width: 980px) {
  #left {
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  #left {
    width: 100%;
  }
}
.left_div {
  width: 100%;
  height:100%;
  overflow: hidden;
}
.left01 {
  padding-bottom: 45%
}
.left01 img {

}
.left02 {
  min-height: 20px;
  padding: 19px;
}

.left03{
  width: 100%;
  height: 460px;
  background-color: black;
}


.left05{
  width: 100%;
  height: 260px;
  background-color: black;
  margin-top: 5%;
}

.left06{
  width: 100%;
  height: 50px;
  background-color: #7FFF00;
  text-align: center;
  line-height: 50px;

}

.left02 img {
  width: 100%;
  height: auto;
}
.title {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
.text {
  color: #666666;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.428571429;
  margin-top: 20px;
}



.active {
  border-bottom: 3px solid MediumSeaGreen;
}
