<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/list.css" />
  </head>
  <body>
    <div id="app">
      <header class="app-header">
        <div class="container clearfix">
          <div class="header-logo">
            <a href="index.html" title="" class="logo ir">小米官网</a>
          </div>
          <div class="header-nav fl">
            <ul class="nav-list clearfix">
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">手机</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">笔记本</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">电视机</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">家电</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">智能硬件</span>
                </a>
              </li>
            </ul>
          </div>
          <ul class="header-user fr">
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">注册</span>
                </a>
            </li>
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">登录</span>
                </a>
            </li>
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">zMouse</span>
                </a>
            </li>
          </ul> 
        </div>
      </header>

      <div class="main">
        <div class="container">
          <div class="list-box">
            <div class="h">
              <h2 class="title">手机</h2>
            </div>
            <div class="c clearfix">
              <ul class="list clearfix">
                <li class="item">
                  <div class="figure">
                    <a href="">
                      <img
                        src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <h3 class="title">
                    <a href=""> Note 9 Pro </a>
                  </h3>
                  <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
                  <p class="price"><span class="num">1599</span>元</p>
                </li>
                <li class="item">
                  <div class="figure">
                    <a href="">
                      <img
                        src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <h3 class="title">
                    <a href=""> Note 9 Pro </a>
                  </h3>
                  <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
                  <p class="price"><span class="num">1599</span>元</p>
                </li>
                <li class="item">
                  <div class="figure">
                    <a href="">
                      <img
                        src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <h3 class="title">
                    <a href=""> Note 9 Pro </a>
                  </h3>
                  <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
                  <p class="price"><span class="num">1599</span>元</p>
                </li>
                <li class="item">
                  <div class="figure">
                    <a href="">
                      <img
                        src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/2b33944db1a5082d123fca20bc126665.jpg"
                        alt=""
                      />
                    </a>
                  </div>
                  <h3 class="title">
                    <a href=""> Note 9 Pro </a>
                  </h3>
                  <p class="desc">一亿像素夜景相机，120Hz六档变速高刷屏</p>
                  <p class="price"><span class="num">1599</span>元</p>
                </li>
              </ul>
          </div>
        </div>

        <div class="container">
          <div class="pagination">
                <a href="">首页</a>
                <a href="">&lt;</a>
                <a href="" class="current">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">&gt;</a>
                <a href="">尾页</a>
              </div>
            </div>
        </div>
      </div>

      <footer class="app-footer">
        <div class="container">
          <div class="links clearfix">
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
