<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/detail.css" />
  </head>
  <body>
    <div id="app">
      <header class="app-header">
        <div class="container clearfix">
          <div class="header-logo">
            <a href="index.html" title="" class="logo ir">小米官网</a>
          </div>
          <div class="header-nav fl">
            <ul class="nav-list clearfix">
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">手机</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">笔记本</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">电视机</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">家电</span>
                </a>
              </li>
              <li class="header-item">
                <a href="" class="link">
                  <span class="text">智能硬件</span>
                </a>
              </li>
            </ul>
          </div>
          <ul class="header-user fr">
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">注册</span>
                </a>
            </li>
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">登录</span>
                </a>
            </li>
            <li class="header-item">
              <a href="" class="link">
                  <span class="text">zMouse</span>
                </a>
            </li>
          </ul> 
        </div>
      </header>

      <div class="main">
        <div class="container">
          <div class="box">
            <div class="h">
              <h2 class="title">手机</h2>
            </div>
            <div class="c header">
              <div class="figure">
                <img
                  src="https://cdn.cnbj0.fds.api.mi-img.com/b2c-shopapi-pms/pms_1606288823.40133253.jpg"
                />
              </div>
              <div class="con">
                <p class="desc">
                  「购机赠价值798元双人定制体检卡；+1月得200G云空间月卡；得2倍米金」一亿像素夜景相机
                  / 国内首发骁龙 750G处理器 / 6.67''小孔径全面屏 /
                  120Hz六档变速高刷屏 / 全场景AI四摄 / 线性马达 /
                  4820mAh+33W闪充 / 立体声双扬声器 / 多功能NFC
                </p>
                <p class="price">1999 元</p>
                <div class="btns">
                  <a href="" class="btn btn-primary">加入购物车</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="box">
            <div class="h">
              <h2 class="title">介绍</h2>
            </div>
            <div class="c">详细</div>
          </div>
        </div>

        <div class="container">
          <div class="box">
            <div class="h">
              <h2 class="title">评论</h2>
            </div>
            <div class="c clearfix">
              <div class="comment-post">
                <form action="">
                  <p>
                    <textarea class="input" rows="5"></textarea>
                  </p>
                  <p>
                    <button class="btn btn-primary">提交</button>
                  </p>
                </form> 
              </div>
              <div class="comment-list">
                <div class="comment">
                  <a href="/comment/user?user_id=424027617" class="avatar" style="background-image:url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cb1bd61ad71c45a4f67f09b075463944.jpeg?thumb=1&w=468&h=1228&f=webp&q=90)"></a>
                  <a href="" class="user">zMouse</a>
                  <div class="datetime">2020-11-02 12:00:12</div>
                  <div class="content">
                    我使用小米7年了，是一位真正的老米粉。 小米这几年成长我是看在眼里的，尤其是有的卢总加入，让红米更具有实力又能打。是卢总让我们能用上蛟龙865的平民价。是小米让我们能。用到科技的乐趣，让每个人都能享受。希望小米集团不忘初心。所有的手机自从有了小米的进入手机行业，变得更实惠更平民。小米的价值观非常的棒。
                  </div>
                </div>
                <div class="comment">
                  <a href="/comment/user?user_id=424027617" class="avatar" style="background-image:url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/cb1bd61ad71c45a4f67f09b075463944.jpeg?thumb=1&w=468&h=1228&f=webp&q=90)"></a>
                  <a href="" class="user">zMouse</a>
                  <div class="datetime">2020-11-02 12:00:12</div>
                  <div class="content">
                    我使用小米7年了，是一位真正的老米粉。 小米这几年成长我是看在眼里的，尤其是有的卢总加入，让红米更具有实力又能打。是卢总让我们能用上蛟龙865的平民价。是小米让我们能。用到科技的乐趣，让每个人都能享受。希望小米集团不忘初心。所有的手机自从有了小米的进入手机行业，变得更实惠更平民。小米的价值观非常的棒。
                  </div>
                </div>
              </div>
              <div class="pagination">
                <a href="">首页</a>
                <a href="">&lt;</a>
                <a href="" class="current">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">&gt;</a>
                <a href="">尾页</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="app-footer">
        <div class="container">
          <div class="links clearfix">
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
            <dl class="links-col">
              <dt>帮助中心</dt>
              <dd>账户管理</dd>
              <dd>购物指南</dd>
              <dd>订单操作</dd>
            </dl>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
